@import "tailwindcss";

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: hidden;
}
.perspective {
  perspective: 1200px;
}

.transform-3d {
  transform-style: preserve-3d;
}